* {
  box-sizing: border-box;
}

body {
  margin: 0px 20px 20px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listings {
  padding: 1%;
  background-color: rgba(246, 125, 65, 0.72);
  margin-top: 2%;
  margin-bottom: 2%;

}

.listings:hover {
  background-color: rgba(246, 125, 65, 0.5);

}

.listings-left {
  display: inline-block;
  width: 60%;
  height: 100%;
  vertical-align: top;
  padding-left: 2%;
}

.listings-right {
  display: inline-block;
  width: 40%;
  /* margin-left: 10px; */
  /* position: absolute;
  right: 0px; */
}

.listings-right img {
  max-height: 25vw;

  /* margin-left: 0; */
}

.show-images {
  max-width: 300px;
  padding: 1%;
}

.nav-bar {
  display: block;
  background-color: #0C2C54;
  width: 100vw;
  height: 40px;
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: inline-block; */
}


#nav-list div li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

.nav-left {
  width: 50%;
  /* background-color: pink; */
  display: inline-block;
  padding-left: 2%;
  padding-top: 1%;


}

.nav-right {
  width: 50%;
  /* background-color: yellow; */
  display: inline-block;
  text-align: right;
  padding-right: 2%;
  padding-top: 1%;

}

.component {
  padding: 3%;
  /* background-color: blue; */
}

#map {
  max-height: 500px;
  margin: 0 Auto;
  padding: 20px;
}

.title {
  padding-left: 2%;
}

a {
  color: black;
  text-decoration: none;

}
