* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listings {
  padding: 1%;
  background-color: rgba(246, 125, 65, 0.72);
  margin-top: 2%;
  margin-bottom: 2%;

}

.listings:hover {
  background-color: rgba(246, 125, 65, 0.5);

}

.listings-left {
  display: inline-block;
  width: 60%;
  height: 100%;
  vertical-align: top;
  padding-left: 2%;
}

.listings-right {
  display: inline-block;
  width: 40%;
  /* margin-left: 10px; */
  /* position: absolute;
  right: 0px; */
}

.listings-right img {
  max-width: 200px;

  /* margin-left: 0; */
}

.show-images {
  max-width: 300px;
  padding: 1%;
}
