* {
  box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
  margin: 0px 20px 20px 0px;
  font-family: 'News Cycle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a {
  color: black;
  text-decoration: none;

}

.wishlist {
  position: relative;
  top: 12vh;
  /* height: 80vh; */
  padding: 2%;
}

.wishlist h2 {
  margin: 0;
}

.wishlist p {
  margin: 0;
}

.blue-font {
  color: #458AD3;
}

.listings-container {
  display: flex;
  flex-wrap: wrap;
}

.listings {
  background-color: #EBEBEB;
  padding: 2%;
  margin: 2%;
  width: 29%;
}

@media {

}

/* .listings {
  padding: 1%;
  background-color: rgba(246, 125, 65, 0.72);
  margin-top: 2%;

}

.listings:hover {
  background-color: rgba(246, 125, 65, 0.5);

}

.listings-left {
  display: inline-block;
  width: 60%;
  height: 100%;
  vertical-align: top;
  padding-left: 2%;
} */

.listings-right {
  display: inline-block;
  width: 40%;
  /* margin-left: 10px; */
  /* position: absolute;
  right: 0px; */
}

.listings-img {
  width: 100%;

  /* margin-left: 0; */
}

.show-images {
  max-width: 300px;
  padding: 1%;
}

.nav-bar {
  display: inline-flex;
  align-items: flex-end;
  flex: nowrap;
  background-color: #0C2C54;
  opacity: 0.9;
  height: 12vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;



}


.nav-bar a {
  color: #EBEBEB;
  padding-right: 2%;
  padding-left: 2%;
}

.nav-bar a:hover {
  color: #FF3B00;
}

.nav-left {
  font-family: 'Changa One', cursive;
  font-size: 130%;
  flex-grow: 2;
  margin-left: 2%;

}
.nav-left div {
  display: inline-block;
}

.nav-left:nth-child(2) {
  width: 70%;
}

.nav-left:first-child {
  width: 30%;
}

.nav-right {
  font-weight: bold;
  flex-grow: 1;
  text-align: right;
  font-size: 90%;
  margin-right: 2%;
  margin-top: 2%;
  height: 100%;
}

.nav-right div {
  height: 100%;
}

.log-out {
border: 0.1em solid #EBEBEB;
font-family: 'News Cycle', sans-serif;
color: #EBEBEB;
background: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 90%;
font-weight: 800;
margin:0 0.3em 0.3em 0;
/* -webkit-transition-duration: 0.4s; /* Safari */
/* transition-duration: 0.4s;  */
cursor: pointer;
}


.log-in-background {
   background-image: url("/images/background.jpeg");
   background-color: #EBEBEB;
   width: 100%;
   height: 80vh;
   position: relative;
   top: 12vh;


   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.create-account-background {
  background-image: url("/images/background3.jpeg");
}

.log-in {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #f1f1f1;
  /* relative to parent */
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.create-account {
  background-color: rgba(0,0,0, 0.6);
}

.log-in-form {
  width: 100%;
  font-size: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #0C2C54;
  /* border: none; */
}

.log-in-form:focus {
  border-color: #FF3B00;
}

input::placeholder {
  color: #C0C0C0;
  font-size: 100%;
  font-style: italic;

}


.log-in h3 {
  margin: 0;
  /* color: #EBEBEB; */
}

.log-in-submit {
border: 0.1em solid #EBEBEB;
font-family: 'News Cycle', sans-serif;
color: #EBEBEB;
background: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 100%;
font-weight: 800;
/* margin:0 0.3em 0.3em 0; */
cursor: pointer;
width: 100%;
}

.log-in-submit:hover {
  color: #FF3B00;
}

.log-in-form {
  background: transparent;
  color: #EBEBEB;

}

.footer {
  position: relative;
  top: 12vh;
  height: 8vh;
  width: 100%;
  background-color: #0C2C54;
  display: flex;
  color: #EBEBEB;
  font-size: 60%;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;


}
.footer a{
  color: #EBEBEB;
}

.footer a:hover{
  color: #FF3B00;
}


/* .component {
  padding: 3%;
} */

#map {
  max-height: 500px;
  margin: 0 Auto;
  padding: 20px;
}

.title {
  padding-left: 2%;
}

a {
  color: black;
  text-decoration: none;
}

.gmapsReact {
  margin-left: 30px;
  /* position: absolute; */

}
